<!--测试生命周期执行顺序-->
<!--单个组件的生命周期测试-->
<!--<app-single></app-single>-->
<!--父子组件的生命周期测试-->
<!--<app-parent-child></app-parent-child>-->

<!--视图封装测试-->
<!--无封装-->
<!--<app-no-encapsulation></app-no-encapsulation>-->
<!--模拟封装-->
<!--<app-emulated-encapsulation></app-emulated-encapsulation>-->
<!--shadow dom 封装-->
<!--issue 实际结果与官网不一致: https://github.com/angular/angular/issues/49803 -->
<!--<app-shadow-dom-encapsulation></app-shadow-dom-encapsulation>-->
<!--组件传值-->
<!--<app-interaction-parent></app-interaction-parent>-->
<!--组件样式-->
<!--<app-hero-app></app-hero-app>-->
<!--父子组件之间传值-->
<!--<app-sharding-data-parent></app-sharding-data-parent>-->
<!--内容投影-->
<app-zippy-parent></app-zippy-parent>
